#formSections {
    height: auto;
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100%;
    flex-wrap: wrap;
}

#formSections form {
 flex: 1 1 300px;
 margin: 15px;
 width: 100%;
 box-sizing: border-box;
}

body {
    background-color: rgb(227, 238, 162);
}

#content p {
    font-weight: bold;
}

#content img {
    width: 200px;
    height: 200px;
}

#content {
    text-align: center;
}
